<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:cache="http://www.springframework.org/schema/cache"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <aop:config>
        <aop:advisor advice-ref="cacheAdvice"
                     pointcut="execution(* org.jjzhu.springmvc.dao.SpittleRepository.*(..))"/>
    </aop:config>
    <cache:advice id="cacheAdvice">
        <cache:caching>
            <cache:cacheable cache="spittleCache" method="findSpittle"/>
        </cache:caching>
    </cache:advice>
    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager"/>
</beans>